<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sylvia's Tech Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Amarante&family=Creepster&family=DM+Serif+Display&family=Jost&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="flex-column min-100-vh">
    <header class="hero">
        <h1 class="app-title"><a href="/">Sylvia's Tech Blog</a></h1>
        <nav class="navbar">
        <ul>
            <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
            <li class="li-inline nav-item"><a href="/login">Login</a></li>
            <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    </header>
    
    <main class="col-auto">
        {{{body}}}
    </main>

    <footer class="flex-row justify-center">
        &copy;<script>document.write(new Date().getFullYear());</script> Sylvia Prabudy
    </footer>
</body>

</html>
<script src="/javascript/logout.js"></script>